* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.row {
  display: flex;
  gap: 2em;
}

.card {
  color: white;
  padding: 1.5em;
}

.c1,
.c2,
.c3 {
  background-color: #8dd694;
  border: solid 2px #5dad65;
  border-radius: 5px;
}
