/* Catatan:
- min-width: 640px (kotak portofolionya 1)
- min-width: 768px (kotak portofolionya 2)
- min-width: 1024px (kotak portofolionya 3) */

@media all and (min-width: 1024px) {
  header {
    position: relative;
  }

  nav {
    background-color: #404146;
    color: white;
    display: flex;
    padding: 1em;
    position: fixed;
    top: 0.75em;
    width: 100%;
  }

  nav .brand-title a,
  footer .footer-title span {
    font-size: 1.75em;
  }

  nav .brand-title a {
    color: white;
  }

  nav .nav-link {
    align-items: center;
    display: flex;
    gap: 2em;
    margin-left: 3em;
  }

  nav .nav-link a,
  .footer-nav-link a {
    color: white;
    opacity: 0.7;
  }

  .hero-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 8em 0;
  }

  .hero-section h1 {
    font-size: 6em;
  }

  .hero-section h1 span {
    color: #f1d00e;
  }

  .hero-section h2 {
    font-size: 3em;
  }

  .hero-section img,
  .card img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  #about,
  #portofolio,
  #contact {
    margin: 12em 0;
  }

  #about h2,
  #portofolio h2,
  #contact h2 {
    font-size: 2.25em;
    margin-bottom: 2rem;
    text-align: center;
  }

  #about p {
    line-height: 1.5em;
    padding: 0 4em;
    text-align: justify;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    text-align: center;
  }

  #contact {
    background-color: #f4f4f4;
  }

  #contact h2 {
    padding-top: 2em;
  }

  .input-email,
  .input-message {
    padding: 1em 8em;
  }

  input,
  textarea {
    border: 2px solid #404146;
    border-radius: 5px;
    margin-top: 1.5em;
    padding: 1em;
    width: 100%;
  }

  input {
    font-size: 1em;
  }

  textarea {
    font-size: 1rem;
  }

  .btn-wrapper {
    padding: 1em 12em;
    text-align: center;
  }

  .btn {
    background-color: #f7e989;
    color: black;
    font-weight: bold;
    padding: 1em 3em;
  }

  footer {
    background-color: #7c7d82;
    color: white;
    display: flex;
    padding: 2em;
  }

  .footer-title {
    display: inherit;
    flex-grow: 2;
  }

  .footer-nav-link {
    display: inherit;
    flex-direction: column;
    gap: 1em;
  }
}

@media all and (min-width: 768px) {
  .hero-section {
    margin: 12em 0;
  }

  .hero-section h1 {
    font-size: 4em;
  }

  .hero-section h2 {
    font-size: 2em;
  }

  #about h2,
  #portofolio h2,
  #contact h2 {
    font-size: 2em;
    margin-bottom: 3rem;
    text-align: center;
  }

  .hero-section img {
    width: 225px;
  }

  .card-wrapper {
    justify-content: initial;
  }

  .card {
    align-items: center;
    display: inherit;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 50%;
  }

  .card img {
    width: 175px;
  }
}
